@import '../../../../assets/css/theme-base';
.menu-item {
  margin:0;
  padding:0;
  list-style:none;
  border-left:1px solid $white;
  a, span {
    display:block;
    color:$white;
    text-decoration:none;
    padding:5px 10px;
    background:$theme;
    transition:linear .15s;
    white-space: nowrap;
    i:nth-of-type(1) {
      margin-right:5px;
    }
  }
  a:hover, span:hover {
    background:darken($theme, 6%);
      cursor: pointer;
      transition:linear .15s;
  }
}
.menu-item.menu-item-sub {
  border-left:none;
}

@media screen and (max-width:576px) {
  .menu-item {
    border-left: 0;
    margin-right:1px;
  }
}
