<footer class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="logo-container">
          <img src="assets/graphics/sccon-logo.svg" alt="SCCON" title="SCCON - Tecnologia Geoespacial e Mapeamento via Satélite">
          <h3 class="mt-3">SCCON - Tecnologia Geoespacial e Mapeamento via Satélite</h3>
          <h4>Consulta de CEP</h4>
          <hr>
          <p class="mt-3">Teste de desenvolvimento em Angular
            <br>Seleção de Front End Developer
            <br><small>Em 15/12/2020</small>
            <br>Realizado por <em>Eder Lima</em>
            <br><small>eder@ederlima.com.br</small>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
