@import '../../../assets/css/theme-base';
:host {
  width:100%;
}
header {
  *:focus {
    outline: none;
  }
  .toggle-menu {
    display:flex;
    justify-content: center;
    align-items: center;
    width:32px;
    height:32px;
    padding:0;
    position: absolute;
    top:0;
    right:15px;
    background:$white;
    border:none;
    color:$theme;
    i {
      font-size:32px;
      &:before {
        margin:0;
      }
    }
  }
  hr {
    border:0;
    border-top:1px solid lighten($theme, 5%);
  }
  .logo-container {
    box-sizing: border-box;
    padding:10px;
    width:60px;
    height:60px;
    background:$theme;
    flex-shrink: 0;
    img {
      width:100%;
    }
    &:hover {
      cursor: pointer;
    }
  }
  h1 {
    margin:0;
    padding:0;
    @include roboto(18);
    line-height: 1.3rem;
    &:hover {
      cursor: pointer;
    }
    span {
      font-size:1rem;
      color:$gray;
    }
    small {
      color:$theme;
    }
  }
}

@media screen and (max-width:576px) {
  header {
    h1 {
      @include roboto(16);
      line-height: 1.2rem;
      span {
        font-size:.9rem;
      }
    }
  }
}
